.bookingPage {

    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    .imageContainer {
        //border: 1px solid blue;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 3rem 0;
        row-gap: 1rem;
        width: 40%;
        height: 50%;

        img {
            width: 100%;
            height: auto;
            border-radius: 5px;
            object-fit: cover;
        }

        a {
            font-size: 16px;
        }
    }
    .formContainer {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        margin: 4rem auto;
        padding: 3rem;
        
        border-radius: 5px;

        h2 {
            margin-bottom: 1rem;
        }

        .form {
            
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 1rem;

            input[type=date], input[type=number], input[type=text]{
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                box-sizing: border-box;
                outline: none;
            }

            .firstName, .checkin {
                grid-column: span 3;
                
            }

            .lastName, .checkout {
                grid-column: span 3;
            }

            .adults, .children, .infants, .nights, .pricePerNight, .totalPrice {
                grid-column: span 2;
            }

            .nights, .pricePerNight, .totalPrice {
                input {
                    background-color: rgb(240, 240, 240);
                }
                
            }

            .caption {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                grid-column: span 4;
                
            }

            .totalPrice {
                grid-column: span 2;
                
                
            }

            
            
            input[type=submit] {
                grid-column: span 6;
                width: 100%;
                background: #04AA6D;
                border: none;
                color: white;
                padding: 0.8rem;
                margin: 1rem auto;
                border-radius: 5px;
                
                &:hover{
                    cursor:pointer
                }
            }
        }

        a {
            color: inherit;
            margin-top: 1rem;
        }

    }
}

@media screen and (max-width: 768px) {

    .bookingPage {

        flex-direction: column;
        font-size: 16px;
        margin-bottom: 2rem;
        
        .formContainer {
            
            padding: 0;
            width: 100%;
            margin: 0 auto;

            .form {
                //width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding: 0;

                input {
                    width: 100%;
                }
            }
        }

        .imageContainer {
            
            width: 100%;
        }
        
    }
}