.description {
    //padding: 1rem 6rem;
    h2 {
        text-align: center;
        margin: 2rem 0;
    }
    p {
        text-align: justify;
        margin: 1rem;
        line-height: 1.6rem;
    }
}

@media screen and (max-width: 768px) {
    .description p {
        margin: 0 auto;
    }
}