.footer {

    background-color: black;
    color: white;
    
    .menuContainer {

        display: flex;
        width: 100%;
        padding: 2rem 0 2rem 0;
    
        .menu {
    
            width: 100%;   
            padding: 2rem 0 0 2rem;
    
            h6 {
                font-size: 1rem;
                margin-bottom: 1rem;
            }
            
            li {
                color: gray;
                list-style:none;
                font-size: 0.8rem;
                height: 1.5rem;
            }
        }
    }
    
    .link {
        display: flex;
        justify-content: center;
        padding: 1rem 0 3rem;
        column-gap: 0.5rem;
        color: white;

        span a {
            color: white;
        }
    }
}

@media screen and (max-width: 768px) {

    .footer {
        .menuContainer {
            flex-direction: column;

            .menu {
                h6 {
                    font-size: 1.2rem;
                }

                li {
                    font-size: 1.1rem;
                }
            }
        }

        .link {
            
            flex-direction: column;
            align-items: center;
            row-gap: 0.5rem;
        }
                
    }    
}
