.header {

  display: flex; 
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;   
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  background: black;
  z-index: 1;
  
  .logoContainer {
    display: flex;
    width: 40%;
    height: 100%;
    margin: 0 0.5rem;
    //border: 1px solid red;
    text-decoration: none;
    align-items: center;
  
    .logo {
      height: 100%;
      width: auto;
    }

    h1 {
      margin-left: 0.5rem;
      color: white;
    }
  }

  .sessionInfo {
    display: flex;
    column-gap: 2rem;
    a, p {
      color: white;
    }
  }
}

@media screen and (max-width: 768px) {

  .header {
      
      justify-content: space-between;
      
      .logoContainer {
        width: 30%;
        
        h1 {
          display: none;
        }
      }

      .sessionInfo {
        margin-top: 20px;
        
      }
      
  }
}