.loginPage {

    font-size: 14px;
    color: white;

    .formContainer {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30%;
        margin: 4rem auto;
        padding: 3rem;
        background: black;
        color: white;
        border-radius: 5px;

        h2 {
            margin-bottom: 1rem;
        }

        .form {
            margin: 1.5rem 0;

            input[type=email], input[type=password] {
                width: 100%;
                //background-color: red;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                box-sizing: border-box;
                outline: none;
            }
            
            .button {
                width: 100%;
                background: #04AA6D;
                border: none;
                color: white;
                padding: 0.8rem;
                margin: 1rem auto;
                border-radius: 5px;
                
                &:hover{
                    cursor:pointer
                }
            }
        }

        a {
            color: inherit;
            margin-top: 1rem;
        }

    }
}

@media screen and (max-width: 768px) {

    .loginPage {

        .formContainer {
            width: 100%;
        }
        
    }
}