.place {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
    .placeLink {

        text-decoration: none;
        color: black;
        text-transform: capitalize;

        .imgContainer {
            border-radius: 5px;
            overflow: hidden;
            position: relative;
            
            img {
                width: 100%;
                height: 12rem;
                display: block;
                //transition: var(--mainTransition);
            }
        
        }

        .info {
            margin-top: 0.6rem;
            h3, p {
                font-size: 0.9rem;
            }

            span {
                font-size: small;
            }
        }
    }
}
