.reviewsContainer {
    margin: 5rem auto 1rem;
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 768px) {

    .reviewsContainer {
        grid-template-columns: 1fr;
    }    
}