/* Banner */
.banner {
  grid-area: full;
  align-self: center;
  display: inline-block;
  width: 50%;
  height: 35vh;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 3rem 6rem;
  }
  .banner h1 {
    font-size: 2rem;
  }
}
/* End of Banner */