.booking {
    
    display: flex;
    justify-content: space-around;
    width: 100%;
    
    .form {
        //border: 1px solid blue;
        display: flex;
        margin: 1rem;
        width: 100%;
        padding: 0 1rem;
        justify-content: center;
        flex-direction: column;
        font-size: 0.8rem;

        .formField {

            display: flex;
            flex-direction: column;
            //align-items: space-between;
            height: 2.5rem;
            //align-items: center;
        
            div {

                display: flex;
                justify-content: space-between;  
                
                input {
                    width: 8rem;
                    text-align: right;
                    border: 1px solid gray;
                }
            }

            .errorMessage {
                color: red;
                font-size: 0.6rem;
                align-self: center;
            }
            
        }
        .amount {
            display: flex;
            justify-content: space-between;
            height: 2rem;
            margin: 1rem 0;
            align-items: center;
            font-weight: bolder;
        }

        .button {
            margin: 1rem auto 0;
            width: 12rem;
            height: 3rem;
        }
    }
}

@media only screen and (max-width: 768px) {

    .booking {
        flex-direction: column;    

        .form .range {
            
            flex-direction: column;

            .date {
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }    
}