.booking {
    
    display: flex;
    justify-content: space-around;

    .form {
        //border: 1px solid blue;
        display: flex;
        margin: 1rem;
        padding: 0 1rem;
        justify-content: center;
        flex-direction: column;
        font-size: 0.8rem;

        .errorMessage {
            color: red;
            font-size: 0.6rem;
        }

        .range {
            
            display: flex;
            justify-content: space-between;
            height: 3rem;

            .date {
                display: flex;
                flex-direction: column;
                //justify-content: space-between;
                
                //align-items: center;
    
                input {
                    text-align: right;
                    //border: 1px solid gray;
                }
            }
        }

        .quantitySetter {

            display: flex;
            justify-content: space-between;
            height: 2rem;
            align-items: center;
        
            div {
                border: 1px solid gray;
                border-radius: 50%;
                width: 2rem;
                
                text-align: center;
                font-size: 1.3rem;
                user-select: none;

                &:hover {
                    cursor:pointer;
                }
            }
        
            input {
                //width: 4rem;
                //height: 3rem;
                text-align: right;
                //border: none;
                //font-size: 1rem;
            }
        }
        .amount {
            display: flex;
            justify-content: space-between;
            height: 2rem;
            margin: 1rem 0;
            align-items: center;
            font-weight: bolder;
        }

        .button {
            margin: 1rem auto 0;
            width: 12rem;
            height: 3rem;
        }
    }
}

@media only screen and (max-width: 768px) {

    .booking {
        flex-direction: column;    

        .form .range {
            
            flex-direction: column;

            .date {
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }    
}