.description {
    //padding: 1rem 6rem;
    h2 {
        text-align: center;
        margin: 2rem 0;
    }
    p {
        text-align: justify;
        margin: 1rem;
        line-height: 1.6rem;
    }
}