.footer {

    display: flex;
    color: white;
    background-color: black;
    width: 100%;
    padding: 2rem 0 2rem 0;
    
    .menu {
    
        width: 100%;   
        padding: 2rem 0 0 2rem;

        h6 {
            font-size: 1rem;
            margin-bottom: 1rem;
        }
        
        li {
            color: gray;
            list-style:none;
            font-size: 0.8rem;
        }
    }
}

@media screen and (max-width: 776px) {

    .footer {
        
        flex-direction: column;        
    }    
}
