.footer {

    display: flex;
    color: white;
    background-color: black;
    width: 100%;
    padding: 2rem 0 2rem 0;

    .menu {
    
        width: 100%;   
        padding: 2rem 0 0 2rem;
        
        li {
            color: gray;
            list-style:none;
        }
    
    }
    
}

@media screen and (max-width: 776px) {

    .footer {
        
        flex-direction: column;        
    }    
}

@media screen and (min-width: 992px) {
    
}