.header {

  display: flex;    
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0 2rem;
  height: 7rem;
  background: white;
  z-index: 1;
  
  .logoContainer {
    display: flex;
    width: 40%;
    height: 100%;
    margin: 0 0.5rem;
    //border: 1px solid red;
    text-decoration: none;
    align-items: center;
  
    .logo {
      height: 100%;
      width: auto;
    }

    h1 {
      margin-left: 0.5rem;
      color: orange;
    }
  }
}