/* Hero */
/* .defaultHero,
.roomsHero {
  min-height: calc(100vh - 66px);
  display: flex;
  align-items: center;
  justify-content: center;
} */
/*
.roomsHero {
  background-image: url("../public/images/room-2.jpeg");
  min-height: 60vh;
}
/* End of Hero */
.hero {
  /* background-color: yellow; */
  display: grid;
  grid-template-areas: 'full';
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
  overflow: hidden;
}

.img {
  grid-area: full;
  /* object-fit: cover; */
  /* object-position: center center; */
}