/* Hero */
.defaultHero,
.roomsHero {
  min-height: calc(100vh - 66px);
  background: url("../public/images/defaultBcg.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*
.roomsHero {
  background-image: url("../public/images/room-2.jpeg");
  min-height: 60vh;
}
/* End of Hero */