.navbar {
    
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: var(--offWhite);
  z-index: 1;

  .navHeader {
    display: flex;
    //justify-content: space-between;

    .navLinks {
      display: flex;
      overflow: hidden;
      transition: var(--mainTransition);
      list-style-type: none;
  
      /* a {
        display: block;
        text-decoration: none;
        padding: 1rem 0;
        color: var(--mainBlack);
        transition: var(--mainTransition);
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: var(--mainSpacing);
  
        :hover {
          color: var(--primaryColor);
        }  
      }  */           
    }
  }    
}
