.navbar {

  display: flex;    
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0 2rem;
  height: 8rem;
  background: white;
  z-index: 1;
  
  //border: 1px solid yellow;
  //border-bottom: 1px solid gray;
  //padding-bottom: 1rem;
  .navbarContainer {
      margin: 0 auto;
      width: 85%;
    a {
      display: inline-block;
      width: 50%;
  
      .logoContainer {
        display: flex;
        width: 100%;
        height: 100%;
        //border: 1px solid red;
      
        .logo {
          //object-fit: cover;
          height: 100%;
          width: 100%;    
        }
      }
    }  
  }

}