.navbar {

  display: flex;    
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  //padding: 0.75rem 2rem;
  //background: var(--offWhite);
  background: white;
  z-index: 1;

  .logo {
    //border: 1px solid yellow;
    
  }

  a {
    text-decoration: none;
  }

  .navLinks {
    display: flex;
    margin: 2.5rem 2rem;
    overflow: hidden;
    //transition: var(--mainTransition);
    list-style-type: none; 
    
    li {
      margin: 0 2rem;
        
    }
    
  }      
}