.place {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .placeLink {

        text-decoration: none;
        color: black;
        text-transform: capitalize;

        .imgContainer {
        
            position: relative;
            
            img {
                width: 100%;
                height: 12rem;
                display: block;
                //transition: var(--mainTransition);
            }
        
        }

        .info {
            h3, p {
                font-size: 0.9rem;
            }
        }
    }
}
