.review {
    .header{
        border: 1px solid red;
        display: flex;
        .img {
            border-radius: 50%;
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 1px solid blue;

            h6 {
                border: 1px solid orange;
            }

            div {
                
                display: flex;
                flex-direction: row;
                span {
                    margin-right: 2rem;
                }
            }
            
        }
    }

    .content{
        border: 1px solid green;
    }
}