.reviewsContainer {
    margin: 5rem auto;
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
}


@media screen and (max-width: 992px) {
    .reviewsContainer {
        grid-template-columns: 1fr;
    }
}