.roomDetailsHero { 
    
    width: 90%;
    margin: 3rem auto;
    
    .generalInfo {

        h3 {
            text-transform: capitalize;
            font-size: 1.5rem;
        }

        span {
            //border: 1px solid yellow;
            margin: 1.5rem 2rem 1rem 0;
            display: inline-block;
            
        }
    }

    .photosContainer {
        //border: 1px solid yellow;
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        border-radius: 15px;
        overflow: hidden;

        .mainImage {

            width: 50%;
            
            img {
                width: 100%;
                height: 100%;
            }
        }

        .secondaryImages {
            width: 50%;
            display: grid;
            gap: 0.5rem;
            justify-content: center;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            
            img {
                width: 100%;
                height: 100%;
            }
        }
        
    }
    
}