.intro {

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    width: 100%;
    margin: 2rem auto;
    padding: 1rem 6rem;
    //border: 1px solid red;
}

.section {

    // border: 1px solid pink;    
    width: 100%;
    margin: 2rem auto;
    padding: 1rem 6rem;

}

.error {
    
    text-align: center;
    text-transform: uppercase;
    margin: 5rem 0;
}

@media only screen and (max-width: 768px) {

    .intro {
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem;
        width: 100%;
    } 
    
    .section {
        width: 100%;       
        padding: 1rem 1rem;
    }
}