.roomsList {

  padding: 5rem 0;

  .roomsListCenter {
  
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 30px;
  
  }

}
  
@media screen and (min-width: 776px) {
  .roomsListCenter {
    width: 90vw;
  }
}

@media screen and (min-width: 992px) {
  .roomsListCenter {
    width: 95vw;
    max-width: 1170px;
  }
}
  