.roomDetailsHero { 
    width: 90%;
    margin: 0 auto;
    span {
        display: inline-block;
        width: 12rem;
    }
    .photosContainer {
        
        
        display: grid;
        gap: 1rem;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        border-radius: 15px;
        overflow: hidden;
    
        img {
            width: 100%;
            height: 100%;
        }

        .main {
            grid-area: 1 / 1 / 3 / 2;
        }

        .one {
            grid-area: 1 / 2 / 2 / 3;
        }

        .two {
            grid-area: 1 / 3 / 2 / 4;
        }

        .three {
            grid-area: 2 / 2 / 3 / 3;
        }

        .four {
            grid-area: 2 / 3 / 3 / 4;
        }
    }
    
}