.booking {
    border: 1px solid red;
    display: flex;
    margin: 2rem auto;
    width: 80%;
    .datesPicker {
    
    }
}

.singleRoom {

    padding: 5rem 0 0 0;

    .singleRoomInfo {
        width: 80vw;
        display: grid;
        grid-template-columns: 1fr;
        margin: 2rem auto;

        .desc {
            margin: 1rem 0;

            h3 {
                text-transform: capitalize;
                letter-spacing: var(--mainSpacing);
            }
            
            p {
                line-height: 1.5;
            }
        }

        .info {
            margin: 1rem 0;
            
            h6 {
                font-weight: 300;
                text-transform: capitalize;
                letter-spacing: var(--mainSpacing);
            }
        }

    }
}

.roomExtras {
    width: 80vw;
    margin: 0 auto 3rem auto;

    .extras {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
        grid-column-gap: 2rem;
        grid-row-gap: 1rem;
    }
    
    h6 {
        text-transform: capitalize;
        letter-spacing: var(--mainSpacing);
    }
}

.review {
    .indicators {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 992px) {

    .singleRoomInfo,
    .roomExtras {
      width: 95vw;
      max-width: 1170px;
    }

    .singleRoomInfo {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 2rem;
    }

    .review {

        .indicators{
            grid-template-columns: 1fr;
        }

    }
    
}
