.services {

  padding: 5rem 0;
  background: var(--darkGrey);
  text-align: center;

  .servicesCenter {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 50px;

    .service {
      h6 {
        letter-spacing: var(--mainSpacing);
      }
    
      p {
        width: 80%;
        margin: 0 auto;
      }

      span {
        display: inline-block;
        color: var(--primaryColor);
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
      }
    }  
  }
}